# Python
__pycache__/
*.pyc

# Virtual env
.env
*.ipynb
.venv/
venv/

# Environment
.env

# Uploads
uploads/

# ChromaDB
chroma_db/

# Extracted files
extracted_data/

# PDFs
*.pdf

# Images
*.jpg
*.jpeg

# Temporary
tmp/

uploads/