langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
pillow
pytesseract

groq

faiss-cpu
sentence-transformers
pymupdf

streamlit
unstructured-inference
chromadb
langchain
langchain-classic
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-ollama
lxml
pdfminer-six
pillow
pytesseract
sentence-transformers
unstructured-inference
unstructured[all-docs,pptx]
faiss-cpu
pypdf
unstructured-pytesseract
langchain-astradb
dataset
sqlalchemy
python-dotenv
fpdf2
unstructured-pytesseract
tavily-python

flask

Flask
gunicorn
python-dotenv
langchain-astradb

